In [1]:
import pandas as pd

In [7]:
movies = pd.read_csv('imdb_top_1000.csv')
movies.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [12]:
features = movies[["Series_Title", "Released_Year", "Genre", "IMDB_Rating", "Meta_score", "Director", "Star1", "Star2", "Star3", "Star4"]]
features

,Series_Title,Released_Year,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4
0,The Shawshank Redemption,1994,Drama,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
1,The Godfather,1972,"Crime, Drama",9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton
2,The Dark Knight,2008,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine
3,The Godfather: Part II,1974,"Crime, Drama",9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton
4,12 Angry Men,1957,"Crime, Drama",9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,"Comedy, Drama, Romance",7.6,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen
996,Giant,1956,"Drama, Western",7.6,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker
997,From Here to Eternity,1953,"Drama, Romance, War",7.6,85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed
998,Lifeboat,1944,"Drama, War",7.6,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix
999,The 39 Steps,1935,"Crime, Mystery, Thriller",7.6,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle

In [14]:
features["Genre"].value_counts()

Genre
Drama                        85
Drama, Romance               37
Comedy, Drama                35
Comedy, Drama, Romance       31
Action, Crime, Drama         30
                             ..
Action, Adventure, Family     1
Action, Crime, Mystery        1
Animation, Drama, Romance     1
Drama, War, Western           1
Adventure, Comedy, War        1
Name: count, Length: 202, dtype: int64

In [16]:
genre_split = features['Genre'].str.split(', ', expand=True)

genre_split.columns = [f'genre_{i+1}' for i in genre_split.columns]

features = features.drop('Genre', axis=1).join(genre_split)

features.head()

,Series_Title,Released_Year,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4,genre_1,genre_2,genre_3
0,The Shawshank Redemption,1994,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,Drama,None,None
1,The Godfather,1972,9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,Crime,Drama,None
2,The Dark Knight,2008,9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,Action,Crime,Drama
3,The Godfather: Part II,1974,9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,Crime,Drama,None
4,12 Angry Men,1957,9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,Crime,Drama,None

In [17]:
features.isna().sum()

Series_Title       0
Released_Year      0
IMDB_Rating        0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
genre_1            0
genre_2          105
genre_3          354
dtype: int64

In [21]:
features.drop(["Meta_score"], axis=1, inplace=True)

features.head()

,Series_Title,Released_Year,IMDB_Rating,Director,Star1,Star2,Star3,Star4,genre_1,genre_2,genre_3
0,The Shawshank Redemption,1994,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,Drama,None,None
1,The Godfather,1972,9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,Crime,Drama,None
2,The Dark Knight,2008,9.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,Action,Crime,Drama
3,The Godfather: Part II,1974,9.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,Crime,Drama,None
4,12 Angry Men,1957,9.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,Crime,Drama,None

In [22]:
features.fillna("None", inplace=True)
features.isna().sum()

Series_Title     0
Released_Year    0
IMDB_Rating      0
Director         0
Star1            0
Star2            0
Star3            0
Star4            0
genre_1          0
genre_2          0
genre_3          0
dtype: int64

In [23]:
features.to_csv('imdb_top_1000_cleaned.csv', index=False)

In [25]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   IMDB_Rating    1000 non-null   float64
 3   Director       1000 non-null   object
 4   Star1          1000 non-null   object
 5   Star2          1000 non-null   object
 6   Star3          1000 non-null   object
 7   Star4          1000 non-null   object
 8   genre_1        1000 non-null   object
 9   genre_2        1000 non-null   object
 10  genre_3        1000 non-null   object
dtypes: float64(1), object(10)
memory usage: 86.1+ KB